.footer {
  background-color: #B57EDC; /* Color de fondo del footer */
  color: white; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
  margin-top: 40px; /* Agregar margen superior para separar del contenido */
}
