.album-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 50px; 
  padding: 40px; 
}

.card {
  background-color: #B57EDC; 
  color: white; 
  border-radius: 2px; 
  padding: 11px; 
  box-sizing: border-box; 
}
.side-image {
  position: absolute;
  height: 200px;
  right: 100px;
 
}


