<div class="header">
    <img src="assets/Logo2.png" alt="Left Image" class="side-image left-image">
    <div class="navbar-container">
      <nav>
        <ul class="navbar">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/menu">Agregar</a>
          </li>
        </ul>
      </nav>
      <h1 class="title">Songs</h1>
    </div>
    <img src="assets/Ruido2.png" alt="Right Image" class="side-image right-image">
  </div>
  
  <app-album></app-album>
  <app-songs></app-songs>
  <app-footer></app-footer>
  